*{
    font-family: 'Poppins', sans-serif;
    color: #0e2431;
    margin: 0;
    padding: 0;
}

.home-page{
    background-image: linear-gradient(rgba(150, 152, 154, 0.266), #c0b8ed3d),url(images/background/donation13.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size:     cover; 
    background-position: center;
    align-items: center;  
    height: 570px;
    width: 100%;
    
    

}
.home-page h1{
    text-align: center;
    padding-top: 5%;
    font-size: 40px;
    color: rgba(11, 210, 245, 0.949);
    padding-bottom: 15px;
    
}
.span-text{
    color: #ffff;
}
.home-page p{
    text-align: justify;
    padding-left: 405px;
    padding-right: 405px;
    color: #ffff;
    font-size: 20px;
    padding-bottom:50px ;
    font-weight: 600;
   
}
.click-btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(122, 143, 212), rgba(11, 210, 245, 0.949));
    border-radius: 15px;
    align-items: center;
    margin-left: 45%;
    
    color: cornsilk;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    

}
.h1tag{
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 40px;
    padding-bottom: 15px;
}
.paragraph{
    text-align: justify;
    padding-left: 385px;
    padding-right: 375px;
    font-size: 18px;
    padding-bottom:50px ;
    font-weight: 600;
    color: rgb(159, 166, 170);

}
.donate{
    height: 570px;
    width: 100%;

}
.container{
   
    display: flex;
    
    flex-direction: row;
    padding: 10px 10% 20px 10%;
    
   
    
}
.container-child{
    text-decoration: none;
    background-image: cornsilk;
    text-align: center;
    padding: 30px 2%;
    border-radius: 15px;
    height: 50px;
    margin: 10px;
    box-shadow:0px 0px 20px rgb(0 0 0 / 10%);
    width: 15.5%;
    
}

#childtype2{
    border-style: groove;
    background-color: rgb(183, 229, 237);
    border-color: rgba(11, 210, 245, 0.949);
}

#childtype2 h2{
    color: rgba(11, 210, 245, 0.949);
}

.donate-others input{
    text-align: center;
    margin-left: 42%;
    width: 15%;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: none;
    color: #6e7578;
    font-weight: 700;
}
.donate-others hr{
    margin-left: 30.25%;
    margin-right: 30%;
    margin-top: 5px;
    margin-bottom: 50px;
}
.donate-plan{
    height: 670px;
    width: 100%;


}
.container-donate{
    display: flex;
    
    flex-direction: row;
    padding: 25px 100px;

}
.container-Dplan{
    text-decoration: none;
    background-image: cornsilk;
    text-align: center;
    padding: 30px 40px;
    border-radius: 15px;
    height: 330px;
    margin: 10px;
    box-shadow:0px 0px 20px rgb(0 0 0 / 10%);
    width: 33.34%;
    border-radius: 10px;
}
#child{
    background-color: #b6d2e1a7;
}
#child1{
    background-color: #f0d2e6a0;
}
#child2{
    background-color: #a6e6de8a;
}
.container-Dplan p{
    text-align: justify;
    padding: 10px;
}
.j-mission{
    margin-left: 43%;
    padding-top: 25px;
    padding-bottom: 25px;
    color:rgba(11, 210, 245, 0.949)
}

.flex-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
   
}

.half-container{
    width: 40%;
    padding-left: 5%;
}

.half-container img{
    width: 100%;
   
    
}
.container-join{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-image: cornsilk;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
    box-shadow:0px 0px 20px rgb(0 0 0 / 10%);
    width: 50%;
    background-color: rgb(183, 229, 237);
}
#h-container1{
    padding: 20px 50px 20px 15px;
}
#h-container2{
    padding: 20px 65px 2px 50px;
    background-image: linear-gradient(rgba(206, 210, 215, 0.214), #1a191ea1),url(images/background/donation15.jpg);
    background-repeat: no-repeat;
    background-size:     cover; 
    background-position: center ; 
    
}
#h-container2 h1{
   
    padding: 50px 50px 10px 50px;
    color: aqua;
}
#h-container2 h4{
   
    padding-left: 50px;
    padding-right: 50px;
    
}
#h-container2 p{
    padding: 5px;
    color: #ffff;

}
.regi-btn{

    text-decoration: none;
    background-image: linear-gradient(rgb(122, 143, 212), rgba(11, 210, 245, 0.949));
    border-radius: 15px;
    font-weight: 700;
    margin-left: 160px;
    margin-top: 70px;
    width: 40%;
    padding: 20px;
    text-align: center;

}

.content{
    display: flex;
    flex-direction: row;
    width: 33.33%;
   padding: 5%;
}
.sub-content{
    
    width: 50%;
    padding-left: 5%;
    

}
.sub-content p{
    
    margin-right: o;
}
.get-updates{
    height: 570px;
    width: 100%;
}

.contact-form{
    width: 60%;
    height: 100px;
    padding: 70px 0;
    text-align: center;
    margin: 20px 20%;
    /*background-color: rgb(183, 229, 237);*/
     background-color: rgb(183, 229, 237);
    
    
    
}
#email{
    height: 40px;
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    color: rgb(35, 36, 36);
    background-color: #ffff;
    border-style: none;
}
#submit{
    height: 60px;
    border-radius: 5px;
    width: 20%;
    background-image: linear-gradient(rgb(122, 143, 214), rgba(11, 210, 245, 0.949));
    color: cornsilk;
    border-style: none;

}
footer {
    margin-top: 100px;
    text-align: center;
    background-color: #0b0a10;
    height: 200px;
    color: #ffff;
}
footer span{
    color:rgba(11, 210, 245, 0.949);
}
footer h2 {
    color: #ffff;

}
footer p{
    
    color: #ffff;

}
